/* .perso{
    width: 500px;
    height: 500px;
    border: solid;

    position: absolute;
    right: 0;
    top: 10px;
    display: flex;
    flex-direction: column
} */

.perso img{
    height: 125px;
    width: 723px;
    position: absolute;
}



.raceElfeLabel, .raceElfeSelect, .raceHumainLabel, .raceHumainSelect, .raceNainLabel, .raceNainSelect, .raceSireneLabel, .raceSireneSelect{
visibility: hidden; 

}

.couleurDePeauElfe{
    display: none;
}

#raceImg{
    height: 724px;
    background: red;
    left: 40px;
    top: 40px;
}
#peauHumainImg{
    height: 445px;
    width: 268px;
    left: 163px;
    top: 103.5px;
}
#cheveuxHumainImg{
    height: 144px;
    width: 171px;
    left: 196px;
    top: 81px;
}
#peauElfeImg{
    width: 277px;
    height: 410px;
    left: 146px;
    top: 140px;